openapi: 3.0.0
info:
  title: Common Inventory API
  description: Common Inventory
  version: 1.0.0

servers:
  - url: https://console.redhat.com

paths:
  /api/inventory/v1.0/resources:
    description: Base path for common inventory
    get:
      summary: List all resources
      operationId: listAllResources
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: A paged array of heterogenous inventory resources. Only common attributes will be returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeterogeneousResourceList"
  /api/inventory/v1.0/resources/{resourceId}:
    description: Base path for common inventory
    parameters:
      - name: resourceId
        in: path
        schema:
          type: string
        required: true
        description: |-
          The resource ID assigned to the resource by the inventory.
          A reporter alias may also be used as a resource ID using the format:
          "hcrn:<reporter.Type>:<reporter.InstanceId>::<reporter.ResourceIdAlias>""
    get:
      summary: Get single resource
      operationId: getSingleResource
      responses:
        "200":
          description: Return matching resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonAttributes"

    delete:
      summary: Delete the resource matching the given ID
      operationId: deleteSingleResource
      responses:
        "200":
          description: Return matching resource

  /api/inventory/v1.0/k8sclusters:
    description: k8s cluster specific
    get:
      summary: List all cluster resources
      operationId: listAllClusters
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: A paged list of kubernetes clusters registered in the current inventory.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/k8sClusterList"
    post:
      description: ""
      requestBody:
        description: "The cluster to register"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/k8sCluster"
      responses:
        "200":
          description: OK
  /api/inventory/v1.0/k8sclusters/{resourceId}:
    description: B
    parameters:
      - name: resourceId
        in: path
        schema:
          type: string
        required: true
        description: |-
          The resource ID assigned to the resource by the inventory.
           A reporter alias may also be used as a resource ID using the format:
          "hcrn:<reporter.Type>:<reporter.InstanceId>::<reporter.ResourceIdAlias>""
    get:
      summary: Get single cluster
      operationId: getSingleCluster
      responses:
        "200":
          description: Return matching k8s cluster
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/k8sCluster"
    delete:
      description: ""
      responses:
        "200":
          description: OK
    patch:
      description: ""
      parameters: []
      requestBody:
        description: "The "
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/k8sCluster"
      responses:
        "200":
          description: OK

  /api/inventory/v1.0/linux-hosts:
    description: k8s cluster specific
    get:
      summary: List all linux resources
      operationId: listAllLinuxHosts
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: A paged array linux host inventory resources
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/linuxHostList"
    post:
      description: ""
      requestBody:
        description: "The host to register"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/linuxHost"
      responses:
        "200":
          description: OK
  /api/inventory/v1.0/linux-hosts/{resourceId}:
    parameters:
      - name: resourceId
        in: path
        schema:
          type: string
        required: true
        description: |-
          The resource ID assigned to the resource by the inventory
          A reporter alias may also be used as a resource ID using the format:
          "hcrn:<reporter.Type>:<reporter.InstanceId>::<reporter.ResourceIdAlias>""
    get:
      description: ""
      parameters: []
      responses:
        "200":
          description: Return matching linux host
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/linuxHost"
    delete:
      description: ""
      parameters: []
      responses:
        "200":
          description: OK
    patch:
      description: ""
      requestBody:
        description: "The "
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/linuxHost"
      responses:
        "200":
          description: OK

components:
  schemas:
    ResourceTag:
      type: object
      description: An abitrary namespaced key value pair
      properties:
        namespace:
          type: string
        key:
          type: string
        value:
          type: string
    ReporterData:
      type: object
      properties:
        ConsoleHref:
          type: string
          format: uri
          description: |-
            The URL for this resource in the reporter's management UI console. For example
            this would be the cluster URL in the HCC Console for an OCM reported cluster.
        ApiHref:
          type: string
          format: uri
          description: "Reporter specific API  link to the resource."
        ResourceIdAlias:
          type: string
          description: "The ID assigned to this resource by the reporter, for example OCM cluster ID"
    CommonAttributes:
      type: object
      description: Attributes shared by all items in inventory
      required:
        - DisplayName
      properties:
        ReporterData:
          type: object
          writeOnly: true
          description: The write only reporter specific data
          allOf:
            - $ref: "#/components/schemas/ReporterData"
        Id:
          type: string
          readOnly: true
          description: The identifier for this resource in inventory.
        ResourceType:
          type: string
          readOnly: true
          description: The type of the inventory resource
        Href:
          type: string
          format: uri
          description: The REST self reference for the inventory item.
        Displayname:
          type: string
          description: An human readable name for the inventory item.
        CreatedAt:
          type: string
          format: date-time
          description: Date and time when the inventory item was first created.
        LastUpdatedAt:
          type: string
          format: date-time
          description: Date and time when the inventory item was last updated.
        Workspace:
          type: string
          description: |-
            The workspace in which this resource lives in common the common inventory.  A resource can only live
            in one workspace.
        Reporters:
          type: array
          readOnly: true
          description: The entities that registered this item in the inventory (provenance). The same resource may be registered by multiple reporters
          items:
            type: object
            properties:
              Type:
                type: string
                description: |-
                  The reporter type, for example,  Satellite, ACM, OCM
                  The reporter type is authenticated during resource registration/update.
              ReporterInstanceId:
                type: string
                description: |-
                  The identifier unique to the reporter instance. This is meant to uniquely
                  identify reporters that can have multiple instances running, such as ACM.
                  The instance ID is authenticated during resource registration/update.
              CreatedAt:
                type: string
                format: date-time
                description: The time when the is reporter record was created
              LastUpdatedAt:
                type: string
                format: date-time
                description: The time when this reporter record was updated
            allOf:
              - $ref: "#/components/schemas/ReporterData"
                description: The resource data that was registered by this reporter instance

        Tags:
          description: |-
            Map of string keys and string values that can be used to organize and categorize
            (scope and select) resources
          type: array
          items:
            $ref: "#/components/schemas/ResourceTag"
      discriminator:
        propertyName: ResourceType

    k8sCluster:
      allOf:
        - $ref: "#/components/schemas/CommonAttributes"
        - type: object
          description: Definition of k8s cluster resource  type
          required:
            - ResourceType
          properties:
            ResourceType:
              description: The type of the inventory resource
              type: string
              enum: [k8sCluster]
            ExternalClusterId:
              type: string
              description: The OCP cluster ID
            CloudProviderId:
              type: string
              description: The ID of the cloud provider where this cluster is installed
            ClusterAccess:
              type: object
              properties:
                ApiServerUrl:
                  type: string
                  description: The URL to access the cluster API server
                CredentialRef:
                  type: object
                  description: |-
                    The URL to get access credentials for this resource. For example this could be a reference to OCM
                    (https://api.openshift.com/#/default/get_api_clusters_mgmt_v1_clusters__cluster_id__credentials)
                    or  ARO RP
                    https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedHatOpenShift/openShiftClusters/{resourceName}/listAdminCredentials?api-version=2023-09-04
                    It is the responsibility of the user to configure appropriate authentication for calling these APIs.
                  properties:
                    Reference:
                      type: string
                      format: uri
                    RefType:
                      description: The type of this credential URL
                      type: string
                      enum:
                        - OCM
                        - ARO-RP
                        - ACM

    linuxHost:
      allOf:
        - $ref: "#/components/schemas/CommonAttributes"
        - type: object
          description: Definition of a linux host resource type
          required:
            - ResourceType
          properties:
            ResourceType:
              description: The type of the inventory resource
              type: string
              enum: [linuxHost]
            BiosUuid:
              type: string
              description: The BIOS id for this host
            Fqdn:
              type: string
              description: The fully qualified domain name for this host
            InsightsId:
              type: string
              description: The (optional) Insights ID for this host
            ProviderId:
              type: string
              description: The ID of the environment running this hsot
            ProviderType:
              type: string
              description: The type of environmet running this host
            SatelliteId:
              type: string
              description: The (optional) Satellite ID of the Satellite server managing this host
            SubscriptionManagerId:
              type: string
              description: The subscription manager identity assigned to this host.
            HostAccess:
              type: object
              properties:
                CredentialRef:
                  type: object
                  description: The credential hint/key to get access credentials for this resource.
                  properties:
                    Reference:
                      type: string
                    Type:
                      type: string
                      enum: ["vault_url", "ssh_key_identifier"]
    EdgeDevice:
      allOf:
        - $ref: "#/components/schemas/CommonAttributes"
        - type: object
    ConfigurationPolicy:
      allOf:
        - $ref: "#/components/schemas/CommonAttributes"
        - type: object

    PagedResponseMetadata:
      properties:
        page:
          description:
            Index of the requested page, where one corresponds to the first
            page.
          type: integer
          format: int32
        size:
          description: Number of items contained in the returned page.
          type: integer
          format: int32
        total:
          description: Total number of items of the collection.
          type: integer
          format: int32
    HeterogeneousResourceList:
      allOf:
        - $ref: "#/components/schemas/PagedResponseMetadata"
        - type: object
          properties:
            items:
              description: Retrieved list of mixed type inventory items.
              type: array
              items:
                $ref: "#/components/schemas/CommonAttributes"
    k8sClusterList:
      allOf:
        - $ref: "#/components/schemas/PagedResponseMetadata"
        - type: object
          properties:
            items:
              description: Retrieved list of k8s resources.
              type: array
              items:
                $ref: "#/components/schemas/k8sCluster"
    linuxHostList:
      allOf:
        - $ref: "#/components/schemas/PagedResponseMetadata"
        - type: object
          properties:
            items:
              description: Retrieved list of Linux host resources.
              type: array
              items:
                $ref: "#/components/schemas/linuxHost"
