openapi: 3.0.0
info:
  title: Common Inventory API
  description: Common Inventory
  version: 1.0.0

servers:
  - url: https://console.redhat.com

paths:
  /api/inventory/v1.0/resources:
    description: Base path for common inventory
    get:
      summary: List all resources
      operationId: listAllResources
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of heterogenous inventory resources
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeterogeneousResourceList"
  /api/inventory/v1.0/resources/{resourceId}:
    description: Base path for common inventory
    parameters:
      - name: resourceId
        in: path
        schema:
          type: string
        required: true
    get:
      summary: Get single resource
      operationId: getSingleResource
      responses:
        200:
          description: Return matching resource
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/k8sCluster"
                  - $ref: "#/components/schemas/linuxHost"
    delete:
      summary: Delete the resource matching the given ID
      operationId: deleteSingleResource
      responses:
        200:
          description: Return matching resource

  /api/inventory/v1.0/k8sclusters:
    description: k8s cluster specific
    get:
      summary: List all cluster resources
      operationId: listAllClusters
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of kubernetes clusters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/k8sClusterList"
    post:
      description: ""
      requestBody:
        description: "The cluster to register"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/k8sCluster"
      responses:
        "200":
          description: OK
  /api/inventory/v1.0/k8sclusters/{resourceId}:
    description: B
    parameters:
      - name: resourceId
        in: path
        schema:
          type: string
        required: true
        description: The resource Id can be the id assigned, or any alias in the form "hcrn:reporter.name:reporter.id"
    get:
      summary: Get single cluster
      operationId: getSingleCluster
      responses:
        200:
          description: Return matching resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/k8sCluster"
    delete:
      description: ""
      responses:
        "200":
          description: OK
    patch:
      description: ""
      parameters: []
      requestBody:
        description: "The "
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/k8sCluster"
      responses:
        "200":
          description: OK

  /api/inventory/v1.0/linux-hosts:
    description: k8s cluster specific
    get:
      summary: List all linux resources
      operationId: listAllLinuxHosts
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of heterogenous inventory resources
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/linuxHostList"
    post:
      description: ""
      requestBody:
        description: "The host to register"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/linuxHost"
      responses:
        "200":
          description: OK
  /api/inventory/v1.0/linux-hosts/{resourceId}:
    parameters:
      - name: resourceId
        in: path
        schema:
          type: string
        required: true
        description: The resource Id can be the id assigned, or any alias in the form "hcrn:reporter.name:reporter.id"
    get:
      description: ""
      parameters: []
      responses:
        "200":
          description: OK
    delete:
      description: ""
      parameters: []
      responses:
        "200":
          description: OK
    patch:
      description: ""
      requestBody:
        description: "The "
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/linuxHost"
      responses:
        "200":
          description: OK

components:
  schemas:
    ResourceTag:
      type: object
      description: An abitrary namespaced key value pair
      properties:
        namespace:
          type: string
        key:
          type: string
        value:
          type: string
    CommonAttributes:
      type: object
      description: Attributes shared by all items in inventory
      required:
        - DisplayName
      properties:
        Id:
          type: string
          description: The identifier for this resource in inventory.
        Href:
          type: string
          format: uri
          description: An identifier
        Displayname:
          type: string
          description: An human readable name for the inventory item
        CreatedAt:
          type: string
          format: date-time
          description: Date and time when the inventory item was first created
        LastUpdatedAt:
          type: string
          format: date-time
          description: Date and time when the inventory item was last updated
        Location:
          type: string
          description: The geo-location where the resource lives
        Reporters:
          type: array
          description: The entities that registered this item in the inventory (provenance). The same resource may be registered by multiple reporters
          items:
            type: object
            properties:
              Name:
                type: string
              Href:
                type: string
                format: uri
                description: "Reporter specific link to resource"
              ResourceId:
                type: string
                description: "The ID assigned to this resource by the reporter, for example OCM cluster ID"
        CredentialRef:
          type: object
          properties:
            Reference:
              type: string
            Type:
              type: string
              enum: ["url", "ssh_key_identifier"]
        Tags:
          description: |-
            Map of string keys and string values that can be used to organize and categorize
            (scope and select) resources
          type: array
          items:
            $ref: "#/components/schemas/ResourceTag"
      discriminator:
        propertyName: ResourceType

    k8sCluster:
      allOf:
        - $ref: "#/components/schemas/CommonAttributes"
        - type: object
          description: Definition of k8s cluster resource  type
          required:
            - ResourceType
          properties:
            ResourceType:
              description: The type of the inventory resource
              type: string
              enum: [k8sCluster]
            ExternalClusterId:
              type: string
              description: The OCP cluster ID
            CloudProviderId:
              type: string
              description: The ID of the cloud provider where this cluster is installed
            ApiServerUrl:
              type: string
              description: The URL to access the cluster API server

    linuxHost:
      allOf:
        - $ref: "#/components/schemas/CommonAttributes"
        - type: object
          description: Definition of a linux host resource type
          required:
            - ResourceType
          properties:
            ResourceType:
              description: The type of the inventory resource
              type: string
              enum: [linuxHost]
            BiosUuid:
              type: string
              description: The BIOS id for this host
            Fqdn:
              type: string
              description: The fully qualified domain name for this host
            InsightsId:
              type: string
              description: The (optional) Insights ID for this host
            ProviderId:
              type: string
              description: The ID of the environment running this hsot
            ProviderType:
              type: string
              description: The type of environmet running this host
            SatelliteId:
              type: string
              description: The (optional) Satellite ID of the Satellite server managing this host
            SubscriptionManagerId:
              type: string
              description: The subscription manager identity assigned to this host.

    PagedResponseMetadata:
      properties:
        page:
          description:
            Index of the requested page, where one corresponds to the first
            page.
          type: integer
          format: int32
        size:
          description: Number of items contained in the returned page.
          type: integer
          format: int32
        total:
          description: Total number of items of the collection.
          type: integer
          format: int32
    HeterogeneousResourceList:
      allOf:
        - $ref: "#/components/schemas/PagedResponseMetadata"
        - type: object
          properties:
            items:
              description: Retrieved list of mixed type inventory items.
              type: array
              items:
                anyOf:
                  - $ref: "#/components/schemas/k8sCluster"
                  - $ref: "#/components/schemas/linuxHost"
    k8sClusterList:
      allOf:
        - $ref: "#/components/schemas/PagedResponseMetadata"
        - type: object
          properties:
            items:
              description: Retrieved list of k8s resources.
              type: array
              items:
                $ref: "#/components/schemas/k8sCluster"
    linuxHostList:
      allOf:
        - $ref: "#/components/schemas/PagedResponseMetadata"
        - type: object
          properties:
            items:
              description: Retrieved list of Linux host resources.
              type: array
              items:
                $ref: "#/components/schemas/linuxHost"
